/* media Query starts here
........................................................
*/
@media screen and (max-width: 600px) {
    /* banner............ */
    .input-controller{
        display: block;
        padding: 1em 0em;
        width: 15.938rem;
        margin: 0 auto;
        
    }
    .input-controller input{
        width: 100%;
        padding: 1.8em 0em;
    }
    .input-controller ::placeholder{
        padding-left: 2em;
    }
    .input-controller select{
        width: 100% !important;
    }
    .second-input{
        margin: 1em 0em;
    }
    .primary-btn{
        margin-top: 1em;
        width: 100%;
    }
    /* popular tour */
    .popular-controller{
        display: block;
    }
    .popular-text{
        width: 100%;
        margin-bottom: 1em;
    }
    .popular-image{
        width: 100%;
        margin: 0 auto;
    }
    .popular-image img{
        width: 100%;
    }
    /* choose section */
    .row-1, .row-2, .row-3{
        display: block;
        margin-top: 0rem;
    }
    .bg-1, .bg-2, .bg-3, .bg-4, .bg-5, .bg-6, .bg-7{
        width: 100%;
        margin-top: 1rem;
    }
    /* why us */
    .primary-title{
        width: 100%;
    }
    br{
        display: none;
    }
    /* single content */
    .single-content h3{
        margin: 1em 0em;
    }
    /* perfect place */
    .perfect-place-controller{
        display: block;
    }
    .perfect-video{
        margin-top: 1rem;
    }
    /* newsletter section */
    .newsletter-controller{
        display: block;
    }
    .newsletter-image{
        width: 100%;
        margin-top: 1rem;
    }
    .newsletter-image img{
        width: 100%;
    }
    /* footer section */
    .footer-content{
        padding: 2rem;
    }
    .unique-controller{
        display: block;
    }
    .app-side{
        width: 100%;
    }
    .app-side img{
        width: 100%;
    }
    .payment-side{
        width: 100%;
        margin-top: 1em;
    }
    .payment-side img{
        width: 100%;
    }
    /* extra section */
    .extra-section{
        margin-top: 1em;
    }
    .extra-main{
        width: calc((100% - 10.666666666666668%));
        height: 335px !important;
        margin-top: 1em;
    }
    .extra-main img{
        width: 100%;
        height: 100%;
    }
    .extra-relative{
        width: calc((100% --9.55223880597015%));
    }
    .top-icon-controller{
        display: block;
    }
    .top-icon-controller{
        font-size: .8em;
        margin-bottom: .2em;
    }
    .center-controller p{
        margin: .2em 0em;
        width: 254px;
    }
    .center-controller h1{
        font-size: 1em;
        margin-top: 0em;
    }
    .center-controller p{
        font-size: 0.875em;
    }
    .center-controller h2{
        font-size: 1em;
        margin-bottom: 0em;
    }
    .extra-main{
        position: relative;
        width: 100%;
        height: auto;
    }
    .extra-relative{
        /* width: 80%; */
        width: 303px;
        position: absolute;
        /* right: 0;
        bottom: 0; */
    }
    .extra-relative-content{
        width: 100%;
        /* padding: 1.5 !important; */
        padding: 1.55em;
    }
    .others-icon{
        margin-top: 1em;
    }
    .bottom-controller{
        display: none;
    }




    /* hamburger menu */
    /* .topnav a{
        margin-bottom: 0px;
    } */
    .navbar-controller ul li a{
        margin-top: 7px;
        padding-right: 7px;
    }
    .navbar-controller ul{
        padding-top: 20px;
    }
    .topnav a.icon{
        display: block;
    }
    .navbar-controller ul{
        display: block;
        margin-top: 2.5em;

    }
    .navbar-controller #custom-nav ul{
        display: none;
    }
    .navbar-controller li a{
        text-align: right;
    }
    .navbar-controller ul li{
        padding: 0em;
        /* margin-right: 2em; */
        /* text-align: right; */
        background: rgb(255, 84, 0);
        color: white;
        border-radius: 3px;
    }
    .navbar-controller li a {
        padding-right: 0px;
        color: white;

    }
    .navbar-controller li a:hover{
        color: #800080;
        background-color: #333333;

    }
    /* .navbar-controller li a:first-child:active{
        color: #FF5400;
        background-color: #001f3f !important;
    } */

    #custom-nav{
        display: none !important;
    }




}

/* large device */
@media screen and (min-width: 992px) and (max-width: 1470px){
    #custom-nav{
        display: block !important;
    }
    #myLinks{
        display: none !important;
    }
    /* banner............ */
    .input-controller{
        display: block;
        padding: 1em 0em;
        width: 15.938rem;
        margin: 0 auto;
        
    }
    .input-controller input{
        /* width: 100%; */
        width: 100%;
        padding: 1.8em 0em;
    }
    .input-controller ::placeholder{
        padding-left: 2em;
    }
    .input-controller select{
        width: 100% !important;
    }
    .second-input{
        margin: 1em 0em;
    }
    .primary-btn{
        margin-top: 1em;
        width: 100%;
    }
    /* popular tour */
    .popular-controller{
        display: block;
    }
    .popular-text{
        width: 100%;
        margin-bottom: 1em;
    }
    .popular-image{
        width: 100%;
        margin: 0 auto;
    }
    .popular-image img{
        width: 100%;
    }
    /* choose section */
    .row-1, .row-2, .row-3{
        display: block;
        margin-top: 0rem;
    }
    .bg-1, .bg-2, .bg-3, .bg-4, .bg-5, .bg-6, .bg-7{
        width: 100%;
        margin-top: 1rem;
    }
    /* why us */
    .primary-title{
        width: 100% !important;
    }
    br{
        display: none;
    }
    /* single content */
    .single-content h3{
        margin: 1em 0em;
    }
    /* perfect place */
    .perfect-place-controller{
        display: block;
    }
    .perfect-video{
        margin-top: 1rem;
    }
    /* newsletter section */
    .newsletter-controller{
        display: block;
    }
    .newsletter-image{
        width: 100%;
        margin-top: 1rem;
    }
    .newsletter-image img{
        width: 100%;
    }
    /* footer section */
    .footer-content{
        padding: 2rem;
    }
    .unique-controller{
        display: block;
    }
    .app-side{
        width: 100%;
    }
    .app-side img{
        width: 100%;
    }
    .payment-side{
        width: 100%;
        margin-top: 1em;
    }
    .payment-side img{
        width: 100%;
    }
        /* extra section */
        .extra-section{
            margin-top: 1em;
        }
        .extra-main{
            width: calc((100% - 10.666666666666668%));
            height: 335px !important;
            margin-top: 1em;
        }
        .extra-main img{
            width: 100%;
            height: 100%;
        }
        .extra-relative{
            width: calc((100% --9.55223880597015%));
        }
        .top-icon-controller{
            display: block;
        }
        .top-icon-controller{
            font-size: .8em;
            margin-bottom: .2em;
        }
        .center-controller p{
            margin: .2em 0em;
            width: 254px;
        }
        .center-controller h1{
            font-size: 1em;
            margin-top: 0em;
        }
        .center-controller p{
            font-size: 0.875em;
        }
        .center-controller h2{
            font-size: 1em;
            margin-bottom: 0em;
        }
        .extra-main{
            position: relative;
            width: 100%;
            height: auto;
        }
        .extra-relative{
            /* width: 80%; */
            width: 303px;
            position: absolute;
            /* right: 0;
            bottom: 0; */
        }
        .extra-relative-content{
            width: 100%;
            /* padding: 1.5 !important; */
            padding: 1.55em;
        }
        .others-icon{
            margin-top: 1em;
        }
        .bottom-controller{
            display: none;
        }
}


/* for tablet */
@media screen and (min-width: 600px) and (max-width: 991px) {
    #custom-nav{
        display: none !important;
    }
    #myLinks{
        display: block;
    }
    /* banner............ */
    .input-controller{
        display: block;
        padding: 1em 0em;
        width: 15.938rem;
        margin: 0 auto;
    }
    .input-controller input{
        width: 100%;
        padding: 1.8em 0em;
    }
    .input-controller ::placeholder{
        padding-left: 2em;
    }
    .input-controller select{
        width: 100% !important;
    }
    .second-input{
        margin: 1em 0em;
    }
    .primary-btn{
        margin-top: 1em;
        width: 100%;
    }
    /* popular tour */
    .popular-controller{
        display: block;
    }
    .popular-text{
        width: 100%;
        margin-bottom: 1em;
    }
    .popular-image{
        width: 100%;
        margin: 0 auto;
    }
    .popular-image img{
        width: 100%;
    }
    /* choose section */
    .row-1, .row-2, .row-3{
        display: block;
        margin-top: 0rem;
    }
    .bg-1, .bg-2, .bg-3, .bg-4, .bg-5, .bg-6, .bg-7{
        width: 100%;
        margin-top: 1rem;
    }
    /* why us */
    .primary-title{
        width: 100%;
    }
    br{
        display: none;
    }
    /* single content */
    .single-content h3{
        margin: 1em 0em;
    }
    /* perfect place */
    .perfect-place-controller{
        display: block;
    }
    .perfect-video{
        margin-top: 1rem;
    }
    /* newsletter section */
    .newsletter-controller{
        display: block;
    }
    .newsletter-image{
        width: 100%;
        margin-top: 1rem;
    }
    .newsletter-image img{
        width: 100%;
    }
    /* footer section */
    .footer-content{
        padding: 2rem;
    }
    .unique-controller{
        display: block;
    }
    .app-side{
        width: 100%;
    }
    .app-side img{
        width: 100%;
    }
    .payment-side{
        width: 100%;
        margin-top: 1em;
    }
    .payment-side img{
        width: 100%;
    }
        /* extra section */
        .extra-section{
            margin-top: 1em;
        }
        .extra-main{
            width: calc((100% - 10.666666666666668%));
            height: 335px !important;
            margin-top: 1em;
        }
        .extra-main img{
            width: 100%;
            height: 100%;
        }
        .extra-relative{
            width: calc((100% --9.55223880597015%));
        }
        .top-icon-controller{
            display: block;
        }
        .top-icon-controller{
            font-size: .8em;
            margin-bottom: .2em;
        }
        .center-controller p{
            margin: .2em 0em;
            width: 254px;
        }
        .center-controller h1{
            font-size: 1em;
            margin-top: 0em;
        }
        .center-controller p{
            font-size: 0.875em;
        }
        .center-controller h2{
            font-size: 1em;
            margin-bottom: 0em;
        }
        .extra-main{
            position: relative;
            width: 100%;
            height: auto;
        }
        .extra-relative{
            /* width: 80%; */
            width: 303px;
            position: absolute;
            /* right: 0;
            bottom: 0; */
        }
        .extra-relative-content{
            width: 100%;
            /* padding: 1.5 !important; */
            padding: 1.55em;
        }
        .others-icon{
            margin-top: 1em;
        }
        .bottom-controller{
            display: none;
        }

    /* hamburger menu */
    /* .topnav a{
        margin-bottom: 0px;
    } */
    .navbar-controller ul li a{
        margin-top: 7px;
        padding-right: 7px;
    }
    .navbar-controller ul{
        padding-top: 20px;
    }
    .topnav a.icon{
        display: block;
    }
    .navbar-controller ul{
        display: block;
        margin-top: 2.5em;

    }
    .navbar-controller li a{
        text-align: right;
    }
    .navbar-controller ul li{
        padding: 0em;
        /* margin-right: 2em; */
        /* text-align: right; */
        background: rgb(255, 84, 0);
        color: white;
        border-radius: 3px;
    }
    .navbar-controller li a {
        padding-right: 0px;
        color: white;

    }
    .navbar-controller li a:hover{
        color: #800080;
        background-color: #333333;

    }
    /* .navbar-controller li a:first-child:active{
        color: #FF5400;
        background-color: #001f3f !important;
    } */

}