*{
    margin: 0;
    padding: 0;
    font-family: Mulish;
}
.container{
    width: 81.25%;
    margin: 0 auto;
}
/* li{
    list-style: none;
} */
a{
    text-decoration: none;
}
.primary-btn{
    border-radius: 8px;
    background: #FF5400;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 15px 30px;
    text-decoration: none; 
}
.primary-para{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1em;
    font-weight: 400;
    line-height: 26px;
}
.primary-title h1{
    font-size: 2.5em;
    margin-bottom: 1em;
}
.sectional-gap{
    margin-top: 4em;
}

/* header starts here */
header{
    margin-top: 4em;
    margin-bottom: 4em;
}
.header-controller{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-side{
    display: flex;
    align-items: center;}
.logo-text{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.navbar-controller ul{
    display: flex;
}
.navbar-controller ul li{
    padding-right: 4em;
    list-style: none;
}
.navbar-controller li a{
    color: var(--Dark-02, #424247);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.navbar-controller ul li:last-child{
    padding-right: 0em;
}

/* banner starts here */
.banner-controller{
    background: url(../Images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    border-radius: 16px;
}
.banner-controller::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    z-index: -1;
    opacity: 0.4;
    border-radius: 16px;
}
.banner-content{
    text-align: center;
    padding: 105px 0px;
    width: 75%; /* 85% calculattion */
    margin: 0 auto;
}
.banner-content h1{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}
.banner-content p{
    margin-top: 2em;
    margin-bottom: 4em;
}
/* input section.................... */
.input-section{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.input-controller{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2% 0%;
}
.primary-btn i{
    margin-right: .5em;
}
.input-controller input{
    padding: 8%;
    outline: none;
}
.input-controller select{
    padding: 10%;
    outline: none;
}

/* popular starts here */
.popular-controller{
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 29em; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.popular-text{
    width: 50%;
}
.middle-text{
    padding: 1.5em 0em;
}
.middle-text li{
    padding: 1em 0em;
}
.last-text{
    margin-bottom: 2em;
}