*{
    margin: 0;
    padding: 0;
    font-family: Mulish;
}
.container{
    width: 81.25%;
    margin: 0 auto;
}
/* li{
    list-style: none;
} */
a{
    text-decoration: none;
}
.primary-btn{
    border-radius: 8px;
    background: #FF5400;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 15px 30px;
    text-decoration: none; 
}
.primary-title{
    text-align: center;
}
.primary-para{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1em;
    font-weight: 400;
    line-height: 26px;
}
.primary-title h1{
    font-size: 2.5em;
    margin-bottom: 0.5em;
}
.sectional-gap{
    margin-top: 4em;
}

/* header starts here */
header{
    margin-top: 4em;
    margin-bottom: 4em;
}
.header-controller{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-side{
    display: flex;
    align-items: center;}
.logo-text{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.navbar-controller ul{
    display: flex;
}
.navbar-controller ul li{
    padding-right: 4em;
    list-style: none;
}
.navbar-controller li a{
    color: var(--Dark-02, #424247);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.navbar-controller ul li:last-child{
    padding-right: 0em;
}

/* banner starts here */
.banner-controller{
    background: url(../Images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    border-radius: 16px;
}
.banner-controller::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    z-index: -1;
    opacity: 0.4;
    border-radius: 16px;
}
.banner-content{
    text-align: center;
    padding: 105px 0px;
    width: 75%; /* 85% calculattion */
    margin: 0 auto;
}
.banner-content h1{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}
.banner-content p{
    margin-top: 2em;
    margin-bottom: 4em;
}
/* input section.................... */
.input-section{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.input-controller{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2% 0%;
}
.primary-btn i{
    margin-right: .5em;
}
.input-controller input{
    padding: 8%;
    outline: none;
}
.input-controller select{
    padding: 10%;
    outline: none;
}

/* popular starts here */
.popular-controller{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.popular-text{
    width: 50%;
}
.middle-text{
    padding: 1.5em 0em;
}
.middle-text li{
    padding: 1em 0em;
}
.last-text{
    margin-bottom: 2em;
}

/* choose destination starts here */
.bg-1, .bg-2, .bg-3, .bg-4, .bg-5, .bg-6, .bg-7{
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
}
.bg-1 h1{
    text-align: center;
}
.image-controller{
    margin-top: 3rem;
}
.row-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.row-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.row-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.bg-1{
    background: url(../Images/maldives.png);
    width: calc((100% - 48.93048128342246%));
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-2{
    background: url(../Images/Indonesia.png);
    width: calc((100% - 48.93048128342246%));
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-3{
    background: url(../Images/Srilanka.png);
    width: calc((100% - 66.66666666666666%));
    height: 17.875rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-4{
    background: url(../Images/North-america.png);
    width: calc((100% - 57.75401069518716%));
    height: 17.875rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-5{
    background: url(../Images/kashmir.png);
    width: calc((100% - 75.57932263814617%));
    height: 17.875rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-6{
    background: url(../Images/Bnagladesh.png);
    width: calc((100% - 57.84313725490197%));
    height: 18.75rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-7{
    background: url(../Images/Bandarban.png);
    width: calc((100% - 40.017825311942964%));
    height: 18.75rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* why us starts here */
.why-us-controller{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3em;
}
.single-card-1{
    border-radius: 1em;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}
.single-card-2{
    border-radius: 1em;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}
.single-card-3{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.single-content{
    padding: 2em;
}

/* perfect place starts here */
.perfect-place-controller{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6em;
}
.perfect-video video{
    width: 100%;
}