*{
    margin: 0;
    padding: 0;
    font-family: Mulish;
}
.container{
    width: 81.25%;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* header starts here */
header{
    margin-top: 4em;
    margin-bottom: 4em;
}
.header-controller{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-side{
    display: flex;
    align-items: center;}
.logo-text{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.navbar-controller ul{
    display: flex;
}
.navbar-controller ul li{
    padding-right: 4em;
}
.navbar-controller li a{
    color: var(--Dark-02, #424247);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.navbar-controller ul li:last-child{
    padding-right: 0em;
}